---
layout: default_1
aaaa: bbbbbb
---

<body>
 
 <header class="site-header">

  <div class="wrapper">
  <h2  class="site-title"> <a href="/">Luotaotao</a></h2>
      <div class="trigger">          
          <a class="page-link" href="/about/">About</a>
<!--          <a class="page-link" href="/about/">Timeline</a>     --> 
      </div>
  </div>

</header>


    <div class="page-content">
      <div class="wrapper">
      
     
        <div class="home_about" style="text-align:center">

 <!-- <h1 class="page-heading">About</h1>-->
  <div class="hp" style="text-align:center; margin:50px auto">
  <a href="#" ><img  class="hphoto"  src="/image/head.png" width="200" height="200"></a>
  </div>           
              
           {{content}}
                             
       </div>

      </div>
    </div>

{% include footer.html %}

  </body>